/* inter-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-v12-latin-regular.eot"); /* IE9 Compat Modes */
  src: url("../fonts/inter-v12-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/inter-v12-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/inter-v12-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/inter-v12-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/inter-v12-latin-regular.svg#Inter")
      format("svg"); /* Legacy iOS */
}
/* inter-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/inter-v12-latin-600.eot"); /* IE9 Compat Modes */
  src: url("../fonts/inter-v12-latin-600.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/inter-v12-latin-600.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/inter-v12-latin-600.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/inter-v12-latin-600.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/inter-v12-latin-600.svg#Inter")
      format("svg"); /* Legacy iOS */
}
/* figtree-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Figtree";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/figtree-v4-latin-300.eot"); /* IE9 Compat Modes */
  src: url("../fonts/figtree-v4-latin-300.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/figtree-v4-latin-300.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/figtree-v4-latin-300.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/figtree-v4-latin-300.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/figtree-v4-latin-300.svg#Figtree")
      format("svg"); /* Legacy iOS */
}
/* figtree-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Figtree";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/figtree-v4-latin-regular.eot"); /* IE9 Compat Modes */
  src: url("../fonts/figtree-v4-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/figtree-v4-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/figtree-v4-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/figtree-v4-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/figtree-v4-latin-regular.svg#Figtree") format("svg"); /* Legacy iOS */
}
/* figtree-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Figtree";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/figtree-v4-latin-700.eot"); /* IE9 Compat Modes */
  src: url("../fonts/figtree-v4-latin-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/figtree-v4-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/figtree-v4-latin-700.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/figtree-v4-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/figtree-v4-latin-700.svg#Figtree")
      format("svg"); /* Legacy iOS */
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  max-width: 1920px;
  margin: 0;
  font-family: "Figtree";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p,
figure {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

:root {
  --grey-color: #e0e1e3;
  --blue-color: #03115f;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
}

.all-title-big {
  font-weight: 700;
  font-size: 62px;
  line-height: 68px;
  color: #03115f;
}

.all-title-small {
  font-style: normal;
  font-weight: 300;
  font-size: 26px;
  line-height: 32px;
  color: #303c7a;
}

.link-absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.header {
  width: 100%;
  min-height: 1084px;
  margin-bottom: 180px;
  background: url(../img/header-bg.jpg) no-repeat center;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 10px;
  margin-bottom: 157px;
}

.logo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: 373px;
}

.logo__thumb {
  background: url(../img/header-logo.png) no-repeat left center;
  width: 80px;
  height: 80px;
  margin-right: 15px;
}

.logo__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #c1c2c7;
}

.logo__sub-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #84858f;
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.nav__item {
  margin-right: 15px;
}

.nav__item:last-child {
  margin-right: 24px;
}

.nav__item::after {
  content: "";
  display: inline-block;
  width: 2px;
  height: 15px;
  margin-left: 9px;
  background-color: #656773;
}

.nav__item:last-child::after {
  display: none;
}

.nav__link {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #e0e1e3;
}

.language__flag {
  position: relative;
  width: 28px;
  height: 20px;
  margin-right: 24px;
  background: url(../img/svg/header-flag-us.svg) no-repeat center;
}

.vertical__line {
  height: 50px;
  width: 2px;
  margin-right: 24px;
  background-color: #656773;
}

.search {
  position: relative;
  width: 28px;
  height: 28px;
  background: url(../img/svg/header-search-icon.svg) no-repeat center;
}

.title {
  max-width: 700px;
  margin-bottom: 179px;
}

.title__about {
  margin-bottom: 60px;
}

.title__first-letter {
  display: inline-block;
  margin-bottom: 8px;
  font-weight: 300;
  font-size: 26px;
  line-height: 32px;
  color: #c1c2c7;
}

.title__name-company {
  display: inline-block;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 62px;
  line-height: 68px;
  letter-spacing: 0.02em;
  color: #e0e1e3;
}

.title__sub-title {
  display: inline-block;
  max-width: 450px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #e0e1e3;
}

.title__btn {
  position: relative;
  width: 206px;
  background: linear-gradient(95.85deg, #1e74ec -47.62%, #245b91 146.78%);
  text-align: center;
}

.title__btn-name {
  line-height: 48px;
  letter-spacing: 0.02em;
  color: #f0f0f1;
}

.experience {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  justify-items: center;
}
.experience__item {
  display: flex;
  align-items: center;
  min-height: 180px;
  text-align: center;
}
.experience__item-p {
  color: white;
}
.experience__item-top {
  display: inline-block;
  line-height: 80px;
  font-size: 68px;
  font-weight: 700;
  text-transform: uppercase;
  color: #f0f0f1;
}
.experience__item-bottom {
  display: inline-block;
  font-size: 26px;
  line-height: 32px;
  color: #cfd0d8;
}
