/* inter-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-v12-latin-regular.eot"); /* IE9 Compat Modes */
  src: url("../fonts/inter-v12-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/inter-v12-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/inter-v12-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/inter-v12-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/inter-v12-latin-regular.svg#Inter")
      format("svg"); /* Legacy iOS */
}
/* inter-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/inter-v12-latin-600.eot"); /* IE9 Compat Modes */
  src: url("../fonts/inter-v12-latin-600.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/inter-v12-latin-600.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/inter-v12-latin-600.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/inter-v12-latin-600.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/inter-v12-latin-600.svg#Inter")
      format("svg"); /* Legacy iOS */
}
/* figtree-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Figtree";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/figtree-v4-latin-300.eot"); /* IE9 Compat Modes */
  src: url("../fonts/figtree-v4-latin-300.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/figtree-v4-latin-300.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/figtree-v4-latin-300.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/figtree-v4-latin-300.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/figtree-v4-latin-300.svg#Figtree")
      format("svg"); /* Legacy iOS */
}
/* figtree-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Figtree";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/figtree-v4-latin-regular.eot"); /* IE9 Compat Modes */
  src: url("../fonts/figtree-v4-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/figtree-v4-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/figtree-v4-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/figtree-v4-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/figtree-v4-latin-regular.svg#Figtree") format("svg"); /* Legacy iOS */
}
/* figtree-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Figtree";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/figtree-v4-latin-700.eot"); /* IE9 Compat Modes */
  src: url("../fonts/figtree-v4-latin-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/figtree-v4-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/figtree-v4-latin-700.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/figtree-v4-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/figtree-v4-latin-700.svg#Figtree")
      format("svg"); /* Legacy iOS */
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  max-width: 1920px;
  margin: 0;
  font-family: "Figtree";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p,
figure {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

:root {
  --grey-color: #e0e1e3;
  --blue-color: #03115f;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
}

.all-title-big {
  font-weight: 700;
  font-size: 62px;
  line-height: 68px;
  color: #03115f;
}

.all-title-small {
  font-style: normal;
  font-weight: 300;
  font-size: 26px;
  line-height: 32px;
  color: #303c7a;
}

.link-absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.link-view-arrow {
  display: block;
  position: relative;
  padding-right: 62px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #a960ab;
  background: url(../img/svg/arrow-right.svg) no-repeat 95% center;
  transition: 0.3s;
}

.link-view-arrow:hover {
  background: url(../img/svg/arrow-right.svg) no-repeat right center;
}

/* Header style start */
.header {
  width: 100%;
  min-height: 1084px;
  margin-bottom: 180px;
  background: url(../img/header-bg.jpg) no-repeat center;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 10px;
  margin-bottom: 157px;
}

.logo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: 373px;
}

.logo__thumb {
  background: url(../img/header-logo.png) no-repeat left center;
  width: 80px;
  height: 80px;
  margin-right: 15px;
}

.logo__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #c1c2c7;
}

.logo__sub-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #84858f;
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.nav__item {
  margin-right: 15px;
}

.nav__item:last-child {
  margin-right: 24px;
}

.nav__item::after {
  content: "";
  display: inline-block;
  width: 2px;
  height: 15px;
  margin-left: 9px;
  background-color: #656773;
}

.nav__item:last-child::after {
  display: none;
}

.nav__link {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #e0e1e3;
}

.language__flag {
  position: relative;
  width: 28px;
  height: 20px;
  margin-right: 24px;
  background: url(../img/svg/header-flag-us.svg) no-repeat center;
}

.vertical__line {
  height: 50px;
  width: 2px;
  margin-right: 24px;
  background-color: #656773;
}

.search {
  position: relative;
  width: 28px;
  height: 28px;
  background: url(../img/svg/header-search-icon.svg) no-repeat center;
}

.title {
  max-width: 700px;
  margin-bottom: 179px;
}

.title__about {
  margin-bottom: 60px;
}

.title__first-letter {
  display: inline-block;
  margin-bottom: 8px;
  font-weight: 300;
  font-size: 26px;
  line-height: 32px;
  color: #c1c2c7;
}

.title__name-company {
  display: inline-block;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 62px;
  line-height: 68px;
  letter-spacing: 0.02em;
  color: #e0e1e3;
}

.title__sub-title {
  display: inline-block;
  max-width: 450px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #e0e1e3;
}

.all-btn {
  position: relative;
  width: 206px;
  background: linear-gradient(95.85deg, #1e74ec -47.62%, #245b91 146.78%);
  text-align: center;
}

.all-btn-name {
  line-height: 48px;
  letter-spacing: 0.02em;
  color: #f0f0f1;
}

.experience {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  justify-items: center;
}
.experience__item {
  display: flex;
  align-items: center;
  min-height: 180px;
  text-align: center;
}
.experience__item-p {
  color: white;
}
.experience__item-top {
  display: inline-block;
  line-height: 80px;
  font-size: 68px;
  font-weight: 700;
  text-transform: uppercase;
  color: #f0f0f1;
}
.experience__item-bottom {
  display: inline-block;
  font-size: 26px;
  line-height: 32px;
  color: #cfd0d8;
}
/* Header style end */

/* Services style start */
.services {
  margin-bottom: 180px;
}
.services__title {
  margin-bottom: 60px;
}

.services__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}
.services__grid-item {
  position: relative;
  height: 330px;
  max-width: 330px;
  background: #f0f0f1;
  transition: 0.3s all;
}
.services__grid-item:hover {
  transform: scale(1.05);
}

.services__item-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.services__item-title {
  position: absolute;
  top: 20px;
  left: 20px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #5e6695;
}
/* Services style end */

/* Projects style start */
.projects {
  margin-bottom: 970px;
}

.projects__top {
  position: relative;
  padding-top: 110px;
  min-height: 640px;
}

.projects__top-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #03115f;
  opacity: 0.1;
}

.projects__title-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 24px;
}

.projects__title {
}

.projects__sub-title {
  max-width: 800px;
}

.projects__bottom {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 40px;
  position: absolute;
  top: -224px;
}

.projects__bottom::after {
  content: "";
  grid-column: span 4;
  height: 2px;
  background-color: #f0f0f1;
}

.projects__bottom-wrap {
  position: relative;
}

.projects__bottom-item {
  width: 100%;
  min-height: 517px;
}

.projects__item-wide {
  grid-column: span 2;
  min-height: 440px;
}

.projects__bottom-pic {
  width: 100%;
  height: 420px;
}

.bottom-pic-wide {
  height: 360px;
}

.projects__bottom-link {
}

.projects__item-title {
  font-weight: 600;
  font-size: 22px;
  line-height: 32px;
  color: #040a2d;
}

.projects__item-sub-title {
  font-size: 18px;
  line-height: 22px;
  color: #656773;
}
/* Projects style end */

/* Leadership style start */
.leadership {
  margin-bottom: 180px;
}

.leadership__link {
  display: block;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
  color: #303c7a;
}

.leadership__grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 40px;
}

.leadership__video {
  grid-column: span 4;
}

.video__wrap {
  position: relative;
  max-width: 100%;
}
.video__item {
  padding-top: 56.25%;
}

.video__element {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.leadership__about {
}

.leadership__title {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 54px;
  line-height: 64px;
  color: #03115f;
}

.leadership__sub-title {
  margin-bottom: 100px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #040a2d;
}

.leadership__btns {
  display: flex;
  justify-content: space-between;
}

.white-btn {
  width: 200px;
  background: #ffffff;
  border: 1px solid #1e74ec;
}

.white-btn-name {
  color: #1e74ec;
  font-weight: 600;
}

.blue-btn-name {
}

.blue-btn {
  width: 200px;
}
/* Leadership style end */

/* Contacts style start */
.contacts {
  margin-bottom: 180px;
}

.contacts__top {
  padding-top: 110px;
  background: url(../img/contacts-bg.jpg) no-repeat center;
  width: 100%;
  min-height: 560px;
}

.contacts__title {
  max-width: 675px;
}

.contacts__title > .all-title-small {
  display: inline-block;
  margin-bottom: 15px;
  color: #cfd0d8;
}

.contacts__title > .all-title-big {
  color: #f0f0f1;
}

.title-last-letter {
  color: #1e74ec;
}

.contacts__bottom-wrap {
  position: relative;
}

.contacts__bottom-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 110px;
  margin-top: -227px;
  background: #f0f0f1;
}

.talk__us {
  max-width: 578px;
  padding: 50px 40px;
  background: linear-gradient(159.18deg, #5f249f 13.77%, #320a5e 83.86%);
}

.talk__us-intro {
  padding-bottom: 40px;
  margin-bottom: 24px;
  border-bottom: 2px solid #c1c2c7;
}

.talk__us-title {
  margin-bottom: 14px;
  font-weight: 300;
  font-size: 26px;
  line-height: 32px;
  color: #e0e1e3;
}

.talk__us-sub-title {
  font-weight: 300;
  line-height: 22px;
  color: #e0e1e3;
}

.talk__us-teams {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 26px;
  margin-bottom: 40px;
  border-bottom: 2px solid #c1c2c7;
}

.team {
  width: 50%;
}

.team__title {
  margin-bottom: 14px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  color: #f0f0f1;
}

.team__mail {
  font-weight: 300;
  line-height: 20px;
  color: #f0f0f1;
}

.team__phone {
  font-weight: 300;
  line-height: 20px;
  color: #f0f0f1;
}

.talk__us-social {
  display: flex;
  flex-wrap: wrap;
}

.social__item {
  position: relative;
  width: 32px;
  height: 32px;
  margin-right: 40px;
}

.social__item:last-child {
  margin-right: 0px;
}

.social__item-pic {
  width: 100%;
  height: 100%;
}

.contacts__form {
  max-width: 578px;
}

.form__title {
  margin-bottom: 26px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #03115f;
}

.form__sub-title {
  margin-bottom: 16px;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #040a2d;
}

.form__wrap {
  padding: 0;
  margin: 0;
  border: none;
}

.input__fist-line {
}

.form-field {
  width: 100%;
  margin-bottom: 14px;
  min-height: 48px;
  padding: 14px 16px;
  border: none;
  border-radius: 4px;
  font-weight: 300;
  font-size: 18px;
  line-height: 20px;
}

.input__second-line {
}

.input__third-line {
}

.form-comment {
  width: 100%;
  min-height: 96px;
  padding: 14px 16px;
  margin-bottom: 34px;
  border-radius: 4px;
  border: none;
  font-weight: 300;
  font-size: 18px;
  line-height: 20px;
}

.form-button-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.form-button {
  margin-right: 10px;
}

.button-desc-wrap {
  max-width: 248px;
}
.form-button-desc {
  font-weight: 300;
  font-size: 11px;
  line-height: 20px;
  color: #84858f;
}

.form-button-desc-link {
  font-weight: 325;
  font-size: 11px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #a960ab;
}
/* Contacts style end */


